<div class="contact">
  <h2>We can't wait to hear from you!</h2>
  <div class="form-box">
    <form class="contact-form" data-netlify="true" method="POST" name="contact-form">
      <input name="form-name" type="hidden" value="contact-form"/>
      <label>Name:</label>
      <input class="input" name="name" type="text"/>
      <label>Email:</label>
      <input class="input" name="email" required type="email"/>
      <label>Message:</label>
      <textarea class="textarea" name="message" placeholder="What's up?"></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
